
*__pycache__*
.DS_Store
backup/
build/
docs/_build/
docs/images/backup/
dist/
.cache/
install_log.txt
*.egg*
*.pyc
*.so
venv

*.vcf

.idea
*iml
local

varmed/settings/settings.py
varapp/filters/apply_bitwise.html

benchmark/results/
benchmark/stats
benchmark/temp/
benchmark/variants
benchmark/variants_stats
